# Lab - Write your first Python Code!

In [1]:
print("Hello, world!")

Hello, world!

## Types

In [2]:
# Type of 12
type(12)

int

In [3]:
# Type of 2.14
type(2.14)

float

In [4]:
# Type of "Hello, Python 101!"
type("Hello, Python 101!")

str

In [5]:
# Type of True
type(True)

bool

In [6]:
type(6/2)

float

In [7]:
type(6//2)

int

## Expression and Variables

In [8]:
160/60

2.6666666666666665

In [9]:
# Mathematical expression
30 + 2 * 60

150

In [10]:
(30 + 2) * 60

1920

In [11]:
# Store value into variable
e1 = 30 + 2 * 60
e1

150

In [12]:
e2 = (30 + 2) * 60
e2

1920

In [13]:
x = 43 + 60 + 16 + 41
x

160

In [14]:
y = x / 60
y

2.6666666666666665

In [15]:
total_min = 43 + 42 + 57 
total_min

142

In [16]:
total_hours = total_min / 60 
total_hours

2.3666666666666667

In [17]:
x = 3 + 2 * 2
x

7

In [18]:
y = (3 + 2) * 2
y

10

In [19]:
z = x + y
z

17

# Lab - String Operations

In [20]:
# Assign string to variable
Name = "Michael Jackson"
Name

'Michael Jackson'

In [21]:
# Print the first element in the string
print(Name[0])

M

In [22]:
# Print the element on index 6 in the string
print(Name[6])

l

In [23]:
# Print the last element in the string
print(Name[-1])

n

In [24]:
# Find the length of string
len("Michael Jackson")

15

In [25]:
# Take the slice on variable Name with only index 0 to index 3
Name[0:4]

'Mich'

In [26]:
# Get every second element. The elments on index 1, 3, 5 ...
Name[::2]

'McalJcsn'

In [27]:
# Concatenate two strings
Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

In [28]:
# Print the string for 3 times
3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [29]:
# Concatenate strings
Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

In [30]:
# New line escape sequence
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [31]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [32]:
# Include back slash in string
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [33]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [34]:
# Convert all the characters in string to upper case
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [35]:
# Replace the old substring with the new target substring is the segment has been found in the string
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [36]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Name = "Michael Jackson"
Name.find('el')

5

In [37]:
A = '1'

In [38]:
B = '2'

In [39]:
C = A + B
C

'12'

In [40]:
D = "ABCDEFG"
print(D[:3])

ABC

In [41]:
E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [42]:
print("\\")

\

In [43]:
print(r" \ ")

 \

In [44]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

In [45]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find("snow")

95

In [46]:
G.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'